.buy-button {
    align-items:center;
    background:#023047;
    border-radius:5px;
    display:flex;
    font-size: 15px;
    height:80%;
    justify-content:center;
    margin:0;
    width:45%;
}

.cart-item {
    align-items:center;
    background: rgba(142, 202,230, 0.6);
    border-radius:5px;
    color:#023047;
    display:flex;
    height:80px;
    justify-content:space-evenly;
    margin:10px;
}

.cart-item-img {
    background:white;
    border-radius:5px;
    display:flex;
    flex-shrink: 0;
    height:60px;
    justify-content:center;
    margin: 0 15px;
    width:60px;
}

.cart-item-img img {
    max-height:100%;
    max-width:100%;
    object-fit: contain;
}

.cart-item-name {
    align-items:center;
    display:flex;
    height:50px;
    margin-right:15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:250px;
}

.cart-item-price, .cart-item-qty {
    align-items:center;
    display:flex;
    height:50px;
    margin-right:15px;
    width:55px;
}

.cart-item-remove {
    align-items:center;
    background:#023047;
    border-radius:5px;
    color:#FFB703;
    display:flex;
    height:30px;
    margin-right:15px;
    padding: 0 8px;
    width:60px;
}

.cart-items-container {
    background-color:#023047;
    border-radius:5px;
    box-shadow: rgba(2, 48, 71, 0.24) 0px 3px 8px;
    max-width: 640px;
    padding:5px;
}

.cart-listing-header {
    display:flex;
    justify-content: space-evenly;
    margin:0 10px;
}

.cart-total {
    color:#023047;
    display:flex;
    margin-bottom:30px;
    margin-top:26px;
}

.cart-total-price {
    font-weight:bold;
    margin-left:15px;
}

.custom-header {
    height:150px;
    width:100%;
}

.custom-navbar {
    align-items:center;
    background:#023047;
    border-radius: 0;
    box-shadow: rgba(2, 48, 71, 0.24) 0px 3px 8px;
    display:flex;
    height:70px;
    justify-content:center;
    margin:0 auto;
    position:fixed;
    top:0;
    width: 100%;
    z-index:200;
}

.custom-navbar-nav {
    display:flex;
    justify-content:space-evenly;
    width:1000px;
}

.footer {
    align-items:center;
    background:#023047;
    display:flex;
    font-size: 12px;
    height:200px;
    justify-content:center;
    margin-top: 100px;
}

.footer hr {
    border-color: #FFB703;
}

.header {
    color:#023047;
    font-size: 34px;
    margin-bottom:26px;
    text-shadow:1px 1px 0px rgb(0 0 0 / 10%);
}

.item {
    background:white;
    border-radius:5px;
    border:solid 1px #219EBC;
    display:flex;
    height:200px;
    justify-content:center;
    margin:5px;
    overflow:hidden;
    width:200px;
}

.item-img {
    max-height:100%;
    max-width:100%;
    object-fit: contain;
}

.item-price {
    align-items:center;
    background:#023047;
    border-radius:5px;
    display:flex;
    height:80%;
    justify-content:center;
    margin:0;
    width:45%;
}

.items-container {
    background-color:#023047;
    border-radius:5px;
    box-shadow: rgba(2, 48, 71, 0.24) 0px 3px 8px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 640px;
    padding:5px;
}

.price-buy {
    align-items:center;
    background:rgba(142, 202,230, 0.5);
    bottom:0;
    display:flex;
    height:50px;
    justify-content:space-evenly;
    position:absolute;
    text-shadow:1px 1px 0px rgb(0 0 0 / 10%);
    width:200px;
}

.purchase-button {
    align-items:center;
    background:#023047;
    border-radius:5px;
    display:flex;

    height:80%;
    justify-content:center;
    margin:0;
    padding: 10px;
    width: max-content;


}

.shop {
    margin: 0 auto;
    max-width: 650px;
}

.shop-container {
    background:#f7f7f7;
    border-radius: 10px;
    margin:0 auto;
    max-width:650px;
    padding: 25px;
}

.wrap-item {
    display:flex;
    justify-content:center;
    position:relative;
}

a {
    color:#FFB703;
    text-decoration:none;
}

a:focus, a:hover {
    color:#FB8500;
}

body {
    background:#dfebf7;
    color:#FFB703;
    font-family: 'Roboto', sans-serif;
    margin:0;
}

.cart-buttons {
    display:flex;
    justify-content:space-between;
}