<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Cart</title>

    <link rel="stylesheet" href="static/css/styles.css">

</head>

{% include "header.html" %}



<div class="shop-container">



  <div class="shop">
    <div class="header">Your shopping cart</div>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <div class="cart-items-container">

      <div class="cart-listing-header">
        <div></div>
        <div>Article</div>
        <div>Price</div>
        <div>Quantity</div>
        <div></div>

      </div>

      {% for item in final_cart %}

      <div class="cart-item">
        <div class="cart-item-img">
          <img src="{{url_for('static', filename='images/'+item.image)}}" alt="">
        </div>
        <div class="cart-item-name">{{item.item}}</div>
        <div class="cart-item-price">{{ "%.2f"|format(item.price) }}€</div>
        <div class="cart-item-qty">{{item.count}}</div>
        <a href="{{url_for('remove_from_cart',item_id=item.id)}}" class="cart-item-remove">Remove</a>
      </div>
      {% endfor %}



    </div>
  </div>



  <div class="cart-total">Estimated total: <div class="cart-total-price">{{ "%.2f"|format(total) }}€</div></div>
  <div class="cart-buttons">

    <a href="{{url_for('home')}}" class="purchase-button">Continue shopping</a>
    <a href="{{url_for('create_checkout_session')}}" class="purchase-button">Purchase</a>
    <a href="{{url_for('clear_cart')}}" class="purchase-button">Remove all</a>

  </div>



</div>

{% include "footer.html" %}