{% include "header.html" %}

<div class="shop-container">

  <div class="shop">
    <div class="header">Your shopping cart</div>
    <div class="cart-items-container">

      <div class="cart-item">
        <div class="cart-item-img">Image</div>
        <div class="cart-item-name">Apple AirPods (2nd Generation)</div>
        <div class="cart-item-price">7,77€</div>
        <div class="cart-item-qty">1</div>
        <div class="cart-item-remove">Remove</div>
      </div>

      <div class="cart-item">
        <div class="cart-item-img">Image</div>
        <div class="cart-item-name">Nintendo Switch with Gray Joy‑Con - HAC-001(-01)</div>
        <div class="cart-item-price">$315.00</div>
        <div class="cart-item-qty">1</div>
        <div class="cart-item-remove">Remove</div>
      </div>


    </div>
  </div>



  Estimated total
  <a href="" class="buy-button">Purchase</a>


</div>

{% include "footer.html" %}