<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Online shop</title>

    <link rel="stylesheet" href="static/css/styles.css">

</head>

{% include "header.html" %}




<div class="shop-container">





    <div class="shop">
        <div class="header">All items</div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="items-container">
            {% for item in store_data %}
            <div class="item">
                <div class="wrap-item">
                    <img class="item-img" src="{{url_for('static', filename='images/'+item.image)}}">
                    <div class="price-buy">
                        <p class="item-price">{{ "%.2f"|format(item.price) }}€</p>
                        <a href="{{url_for('add_to_cart',item_id=item.id)}}" class="buy-button">Add to cart</a>

                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>

{% include "footer.html" %}