{% include "header.html" %}

<div class="shop-container">

    <div class="shop">
        <div class="header">All items</div>
        <div class="items-container">

            <div class="item">
                <div class="wrap-item">
                    <img class="item-img" src="{{url_for('static', filename='images/test.jpg')}}">
                    <div class="price-buy">
                        <p class="item-price">7,70€</p>
                        <a href="" class="buy-button">Add to cart</a>

                    </div>
                </div>
            </div>
            <div class="item">
            </div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>

        </div>
    </div>
</div>

{% include "footer.html" %}