<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/styles.css">

</head>


{% include "header.html" %}
<div class="shop-container">
    <div class="shop">
        <div class="header">Create account</div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form class="register-form" method="post" role="form">
            {{ form.hidden_tag() }}


            {{ form.name.label }}
            <div>{{ form.name(size=50 ,class_="custom-form-field") }}</div>

            {{ form.email.label }}
            <div>{{ form.email(size=50,class_="custom-form-field") }}</div>
            {{ form.password.label }}
            <div> {{ form.password(size=50,class_="custom-form-field") }}</div>
            {{ form.password_confirmation.label }}
            <div>{{ form.password_confirmation(size=50,class_="custom-form-field") }}</div>

            {{ form.submit(class_="custom-form-button") }}


        </form>


    </div>
</div>
{% include "footer.html" %}
