<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Thanks for your order!</title>

    <link rel="stylesheet" href="static/css/styles.css">

</head>

{% include "header.html" %}


<div class="shop-container">
    <div class="success-checkout">
      <p>Thank you for your order! </p>
      <p>A shipping confirmation email will be sent when the order has shipped with the tracking information and an estimated delivery time.</p>
    </div>
  </div>

{% include "footer.html" %}